body, h1, p, ul {
    margin: 0;
    padding: 0;
}

/* global styles for all pages */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* navigation bar */
nav {
    background-color: #86D3D8;
    color: white;
    padding: 10px 0;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul, .contactus-text ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu-toggle {
    display: none;
}

#dropdown-menu {
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

#dropdown-menu.active {
    max-height: 500px;
}

#nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav-links li {
    margin: 0;
    padding: 0;
    text-align: center;
}

#nav-links a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 0; 
    transition: background-color 0.3s ease;
}

#nav-links a:hover {
    background-color: #18778b;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
}

.menu-toggle.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

/* hero section styles */
.hero {
    /* banner image by edward howell on unsplash */
    background-image: url('../images/bannerimg1.png');
    background-size: cover;
    text-align: center;
    color: #18778B;
    padding: 100px 0;
}

.hero1 {
    /* banner image by jiayu chan on unsplash */
    background-image: url('../images/bannerimg2.jpg'); 
    background-size: cover;
    text-align: center;
    color: white;
    padding: 100px 0;
}

.hero2 {
    /* banner image by benjamin zanatta on unsplash */
    background-image: url('../images/bannerimg3.jpg');
    background-size: cover;
    text-align: center;
    color: white;
    padding: 100px 0;
}

.hero3 {
    /* banner image by frank mckenna on unsplash */
    background-image: url('../images/bannerimg4.jpg');
    background-size: cover;
    text-align: center;
    color: white;
    padding: 100px 0;
}

.hero4 {
    /* banner image by dennis guten mckenna on unsplash */
    background-image: url('../images/bannerimg5.jpg');
    background-size: cover;
    text-align: center;
    color: white;
    padding: 100px 0;
}

.text-container {
    flex: 1; 
    text-align: left;
}

.hero h2 {
    font-size: 36px;
}

.hero1 h2 {
    font-size: 36px;
}

.hero2 h2 {
    font-size: 36px;
}

.hero3 h2 {
    font-size: 36px;
}

.hero4 h2 {
    font-size: 36px;
}

.hero p {
    font-size: 24px;
    margin: 20px 0;
}

/*button style */
.btn {
    display: inline-block;
    background-color: #2399B1;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #18778b;
}

/*menu section styles */
.menu-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu h2 {
    font-size: 36px;
}

.menu-image {
    flex: 1;
    max-width: 100%;
    order: 1;
}

.menu-text {
    flex: 1;
    padding: 20px;
}

/*apply fixed positioning for desktop screens only */
@media (min-width: 769px) {
    .menu-image {
        position: relative;
        left: 190px;
    }
}

/*about.html style */
.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about h2 {
    font-size: 36px;
    text-align: right;
}

.about-image {
    flex: 1;
    max-width: 100%;
    order: -1;
}

.about-text {
    flex: 1;
    padding: 20px;
    text-align: right;
}

.about1 {
    padding: 40px 0;
}

.about1 h2 {
    font-size: 36px;
    text-align: left;
}

.about-content1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-text1 {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.about-image1 {
    flex: 1;
    max-width: 100%;
    order: 1;
}

.about2 {
    padding: 40px 0;
}

.about2 h2 {
    font-size: 36px;
    text-align: right;
}

.about-content2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-text2 {
    flex: 1;
    padding: 20px;
    text-align: right;
}

.about-image2 {
    flex: 1;
    max-width: 100%;
    order: -1; 
}

@media (min-width: 769px) {
    .about-image1 {
        position: relative;
        left: 190px;
    }
}

/*menu section styles */
.menu-content1, .menu-content2, .menu-content3, .menu-content4 {
    text-align: center;
    font-size: 20px;
}

.menu h2 {
    font-size: 36px;
}

.menu-image {
    flex: 1;
    max-width: 100%;
    order: 1;
}

.menu-text {
    flex: 1;
    padding: 20px;
}


.menu-image1 img,
.menu-image2 img,
.menu-image3 img,
.menu-image4 img {
    max-width: 100%;
    height: auto;
}

/*contact page section */
.contactus {
    padding: 20px;
}

.contactus-content {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    text-align: center;   
}

.contactus-left, .contactus-right {
    width: 100%; 
    padding: 10px;
}

.contact-info {
    font-size: 18px;
}

.contactus-right h2 {
    font-size: 20px;
}

.contactus-right iframe {
    width: 100%;
    height: 250px;
}

/*reservation form section */
.reservation-text {
    text-align: center;
    font-size: 28px;
}

.reservation-form iframe {
    width: 100%;
    height: 600px;
    border: 0px;
}

/* Footer */
.footer {
    background-color: #86D3D8;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer p {
    margin: 0;
}

.footer a {
    color: white;
    text-decoration: none;
}



/*media query for mobile*/
@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .menu-toggle .bar {
        background-color: #fff;
        display: block;
        margin: 6px 0;
    }
    .contactus-content {
        flex-direction: column;
        align-items: center;  
        text-align: center;   
    }

    .contactus-left, .contactus-right {
        width: 100%; 
        padding: 10px;
    }

    .contact-info p {
        font-size: 15px;
    }

    .contactus-right h2 {
        font-size: 18px;
    }

    .contactus-right iframe {
        height: 250px;
    }

    .hero h2 {
        font-size: 28px;
    }

    .hero p {
        font-size: 18px;
    }

    .about h2,
    .about1 h2,
    .about2 h2 {
        font-size: 28px;
    }

    .about-text,
    .about-text1,
    .about-text2 {
        font-size: 16px;
    }
}

/*desktop styles*/
@media (min-width: 769px) {
    .contactus-content {
        flex-direction: row;
        align-items: flex-start; 
        text-align: left;
    }

    .contactus-left, .contactus-right {
        flex: 1;
        padding: 10px;
    }
}
