
body, h1, p, ul {
    margin: 0;
    padding: 0;
}

/* global styles for all pages */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/*navigation bar*/
nav {
    background-color: #86D3D8;
    color: white;
    padding: 10px 0;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul, .contactus-text ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu-toggle {
    display: none;
}

#dropdown-menu {
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}


/* hamburger button / dropdown box */
#dropdown-menu.active {
    display: block;
}
/* style for the dropdown menu */
#nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}
#nav-links li {
    margin: 0;
    padding: 0;
    text-align: center;
}
#nav-links a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 0; 
    transition: background-color 0.3s ease;
}
#nav-links a:hover {
    background-color: #18778b;
}
.bar {
    width: 100%;
    height: 4px;
    background-color: white;
    transition: 0.4s;
}
.menu-toggle.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
}
.menu-toggle.active .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}



/*hero section styles */
.hero {
    /*banner image by edward howell on unsplash*/
    background-image: url('../images/bannerimg1.png');
    background-size: cover;
    text-align: center;
    color: #18778B;
    padding: 100px 0;
}

.hero1 {
    /*banner image by jiayu chan on unsplash*/
    background-image: url('../images/bannerimg2.jpg'); 
    background-size: cover;
    text-align: center;
    color: white;
    padding: 100px 0;
}

.hero2 {
    /*banner image by benjamin zanatta on unsplash*/
    background-image: url('../images/bannerimg3.jpg');
    background-size: cover;
    text-align: center;
    color: white;
    padding: 100px 0;
}

.hero3 {
    /*banner image by frank mckenna on unsplash*/
    background-image: url('../images/bannerimg4.jpg');
    background-size: cover;
    text-align: center;
    color: white;
    padding: 100px 0;
}
.hero4 {
    /*banner image by dennis guten mckenna on unsplash*/
    background-image: url('../images/bannerimg5.jpg');
    background-size: cover;
    text-align: center;
    color: white;
    padding: 100px 0;
}


.text-container {
    flex: 1; 
    text-align: left;
}

.hero h2 {
    font-size: 36px;
}

.hero1 h2 {
    font-size: 36px;
}

.hero2 h2 {
    font-size: 36px;
}

.hero3 h2 {
    font-size: 36px;
}

.hero4 h2{
    font-size: 36px;

}

.hero p {
    font-size: 24px;
    margin: 20px 0;
}

/*button style*/
.btn {
    display: inline-block;
    background-color: #2399B1;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #18778b;
}

/* Menu section styles */
.menu-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu h2 {
    font-size: 36px;
}

.menu-image {
    flex: 1;
    max-width: 100%;
    order: 1;
}

.menu-text {
    flex: 1;
    padding: 20px;
}

/* apply fixed positioning for desktop screens only */
@media (min-width: 769px) {
    .menu-image {
        position: relative;
        left: 190px;
        
    }
}


/* About.html style */
.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about h2 {
    font-size: 36px;
    text-align: right;
}

.about-image {
    flex: 1;
    max-width: 100%;
    order: -1;
}

.about-text {
    flex: 1;
    padding: 20px;
    text-align: right;
}

.about1 {
    padding: 40px 0;
}

.about1 h2 {
    font-size: 36px;
    text-align: left;
}

.about-content1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-text1 {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.about-image1 {
    flex: 1;
    max-width: 100%;
    order: 1;
}

.about2 {
    padding: 40px 0;
}

.about2 h2 {
    font-size: 36px;
    text-align: right;
}

.about-content2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-text2 {
    flex: 1;
    padding: 20px;
    text-align: right;
}

.about-image2 {
    flex: 1;
    max-width: 100%;
    order: -1; 
}

/* apply fixed positioning for desktop screens only */
@media (min-width: 769px) {
    .about-image1 {
        position: relative;
        left: 190px;
        
    }
}


/* Menu section styles */
.menu-content1, .menu-content2, .menu-content3, .menu-content4{
    text-align: center;
    font-size: 20px;
}
.menu h2 {
    font-size: 36px;
}

.menu-image {
    flex: 1;
    max-width: 100%;
    order: 1;
}

.menu-text {
    flex: 1;
    padding: 20px;
}

/* Apply responsive styling to menu images */
.menu-image1 img,
.menu-image2 img,
.menu-image3 img,
.menu-image4 img {
    max-width: 100%;
    height: auto;
}

/* contact page section */
.contact-info {
    flex: 1;
    padding-right: 20px;
    font-size: 28px;
}
.map-text, .contactus-text {
    flex: 1;
    text-align: center;
}
/*make the map responsive*/
.map-text iframe {
    width: 100%;
    height: 400px;
}

/*reservation form section*/
.reservation-text{
    text-align: center;
    font-size: 28px;

}

.reservation-form iframe {
    width: 100%;
    height: 600px;
    border: 0px;
}

/*footer*/
.footer {
    background-color: #86D3D8;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.footer p {
    margin: 0;
}

.footer a{
    color: white;
    text-decoration: none;
}

/*staff worktimetable*/
.work-text h1{
    text-align: center;
    font-size: 36px;
}

/* Style for the table headers */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #333;
}

th {
    background-color: #2399B1; /* Blue background color */
    color: white; /* Text color */
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

/* Style for the table rows */
td {
    padding: 10px;
    text-align: center;
}


/* media query to make web responsive for mobile*/
@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }
    .menu-toggle {
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }
    .container ul {
        display: none; 
    }
    .hero {
        padding: 60px 0;
    }
    .hero h2 {
        font-size: 28px;
    }
    .hero p {
        font-size: 18px;
    }
    .text-container,
    .menu-content,
    .about-content,
    .work-content {
        flex-direction: column;
        text-align: center;
    }
    .menu-image,
    .about-image {
        order: 0;
        margin-bottom: 20px;
        margin-right: 0;
        max-width: 100%;
    }
    .menu h2,
    .about h2 {
        font-size: 24px;
        text-align: center;
    }
    .menu-text,
    .about-text {
        padding: 10px;
        text-align: center;
    }
    
    .hero1 {
        background-image: url('/images/bannerimg2.jpg');
        background-size: cover;
        text-align: center;
        color: white;
        padding: 60px 0;
    }
    .hero1 h2 {
        font-size: 28px;
    }
    .about1 {
        padding: 20px 0;
    }
    .about1 h2 {
        font-size: 24px;
        text-align: center;
    }
    .about-content1 {
        flex-direction: column;
        text-align: center;
    }
    .about-text1 {
        padding: 10px;
        text-align: center;
    }
    .about-image1 {
        order: 0;
        margin-bottom: 20px;
        margin-right: 0;
        max-width: 100%;
    }
    .about2 {
        padding: 20px 0;
    }
    .about2 h2 {
        font-size: 24px;
        text-align: center;
    }
    .about-content2 {
        flex-direction: column;
        text-align: center;
    }
    .about-text2 {
        padding: 10px;
        text-align: center;
    }
    .about-image2 {
        order: 0;
        margin-bottom: 20px;
        margin-right: 0;
        max-width: 100%;
    }
    .hero2 {
        background-image: url('/images/bannerimg3.jpg');
        background-size: cover;
        text-align: center;
        color: white;
        padding: 60px 0;
    }

    .menu-content1, 
    .menu-content2, 
    .menu-content3, 
    .menu-content4{
        text-align: center;
        font-size: 15px;
    }
    .menu-image1,
    .menu-image2,
    .menu-image3,
    .menu-image4 {
        max-width: 100%; 
        width: 100%;   
        height: auto;    
    }
    .hero3 {
        background-image: url('/images/bannerimg4.jpg');
        background-size: cover;
        text-align: center;
        color: white;
        padding: 60px 0;
    }
    .contactus-text {
        flex-direction: column;
    }

    .contact-info p {
        font-size: 15px;
        text-align: center;
    }
    .map-text iframe {
        height: 250px;
    }
    .reservation-text {
        font-size: 20px;
    }
    .reservation-form iframe {
        height: 400px;
    }
}

@media (max-width: 768px) {
    table {
        width: 100%;
    }

    th {
        padding: 5px;
        font-size: 18px;
    }

    td {
        padding: 5px;
        font-size: 16px;
    }

    .staff-footer {

        display: none;
    


    }
}
